{% extends "base.html" %}
{%block content%}

<div class='col-sm-8 col-sm-offset-2'>
<h1> Homepage</h1>

<form method = 'GET' action="">
    <input type="text" name = "q" placeholder="Search posts"/>
    <input type="submit" value="Search"/>
</form>
    <div>
    <p><a href="/posts/create" class="btn btn-primary" role="button">Create Post</a></p>
</div>

{%for obj in object_list%}
<div class='row'>
    <div class='col-sm-12'>
        <div class='thumbnail'>
<!--            <img src="..." alt="...">
 -->            <div class='caption'>
                <h3> <a href='{{obj.get_absolute_url}}'>{{obj.title|linebreaks|truncatechars:20}} </a><small><small><small><small>Created: {{obj.timestamp|timesince}} ago</small></small></small></small></h3>
                <small><small><small><small><small>Updated: {{obj.updated}}<p> Author: {{obj.user}} </p></small></small></small></small></small></small>

                <p>{{obj.content|linebreaks|truncatechars:30}}</p>
                <small><small><small><p> Total Number of Comments: {{obj.comments.count}}</p></small></small></small>
                <p><a href="{{obj.get_absolute_url}}" class="btn btn-primary" role="button">View</a><a href="{{obj.get_absolute_url}}edit/" class ="btn btn-default" role="button">Edit</a><a href="{{obj.get_absolute_url}}delete/" class ="btn btn-default" role="button">Delete</a></p>
                </div>
        </div>
    </div>
</div>
{%endfor%}
<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ object_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}">next</a>
            <a href="?page={{ object_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>

{%endblock content%}
