{% extends "base.html" %}
{%block content%}

<div class='col-sm-8 col-sm-offset-2'>
<h1> Homepage</h1>

<form method = 'GET' action="">
    <input type="text" name = "q" placeholder="Search posts"/>
    <input type="submit" value="Search"/>
</form>
    <div>
    <p><a href="/posts/create" class="btn btn-primary" role="button">Create Post</a></p>
    <p><a href="/logout" class="btn" role="button">Log Out</a></p>
</div>
<!-- for loop to apply this to every blog posting made -->
{%for obj in object_list%}
<div class='row'>
    <div class='col-sm-12'>
        <div class='thumbnail'>
            <!-- 
                This here is what displays in the title of each post on the listing page. Why did I use 1000000 smalls? Who knows? It is certainly not good practice. Please be better than this when you write your HTML. There's definately some CSS in the static/base.css file for this that I just didn't use. ¯\(•^•)/¯
            -->
                <div class='caption'>
                <h3> <a href='{{obj.get_absolute_url}}'>{{obj.title|linebreaks|truncatechars:20}} </a><small><small><small><small>Created: {{obj.timestamp|timesince}} ago</h3>
                Updated: {{obj.updated}}<p> Author: {{obj.user}} </p></small></small></small></small></small>

                <!-- Here, as above, I'm truncating the amount of characters that can be reveled of the content. This piece of HTML provides linebreaks, actually, which is more fitting for an entry that is bound to be fairly long -->
                <p>{{obj.content|linebreaks|truncatechars:30}}</p>
                <small><small><small><p> Total Number of Comments: {{obj.comments.count}}</p></small></small></small>
                <p><a href="{{obj.get_absolute_url}}" class="btn btn-primary" role="button">View</a><a href="{{obj.get_absolute_url}}edit/" class ="btn btn-default" role="button">Edit</a><a href="{{obj.get_absolute_url}}delete/" class ="btn btn-default" role="button">Delete</a></p>
                </div>
        </div>
    </div>
</div>
{%endfor%}
<!-- 
    Paginator here separates how many objects are on one page, also makes a "next page" and "previous page" option available 
-->
<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ object_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}">next</a>
            <a href="?page={{ object_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>

{%endblock content%}
