{% extends "base.html" %}

{%block head_title%}{{instance.title}} | {{block.super}} {%endblock head_title%}

{%block content%}
<div class='col-sm-6 col-sm-offset-3'>

<h1> {{title}} <small><small><small><small>| {{instance.timestamp}}</small></small></small></small> </h1>
<p> Author: {{instance.user}} </p>

{%if instance.image %}
	<img src = '{{instance.image.url}}' class = 'img-responsive'/>
{%endif%}
{%if instance.image %}
	<embed src='{{instance.image.url}}' class = 'img-responsive'width="500" height= "375" type='application/pdf'/> 
{%endif%}

{{instance.content|linebreaks}}<br/>
<small>Updated: {{instance.updated}}</small><br/>
<div>
	<p><a href="/posts" class="btn btn-primary" role="button">Home</a></p>
</div>
</div>
{%endblock content%}
